#main-container {
    background: linear-gradient(to right, #dddddd, #ffffff, #dddddd);
    width: 100%;
}

#main-header-container {
    position: relative;
}

#header-container {
    margin: 0 auto;
    padding: 10px 0;
    position: relative;
    width: fit-content;
}

#header-container #site-logo, #header-navigation {
    display: inline-block;
    margin: 0 10px;
}

#site-logo {
    position: relative;
    width: fit-content;
}

#site-logo #icon, #text {
    display: inline-block;
    margin: 0 5px;
    vertical-align: middle;
}

#site-logo #icon {
    height: 89px;
    width: 87px;
    object-fit: cover;
    position: relative;
}

#site-logo #text {
    margin-top: 10px;
    position: relative;
    width: fit-content;
}

#site-logo #text #title {
    color: #045184;
    font-size: 22px;
    line-height: 1em;
}

#site-logo #text #subtitle {
    color: rgb(4, 81, 132);
    font-size: 11px;
    line-height: 1.4em;
    font-weight: normal;
}

#header-navigation {
    position: relative;
}

#header-navigation .navigation-item {
    display: inline-block;
    margin: 0 30px;
    vertical-align: middle;
}

#header-navigation .navigation-item a {
    color: #045184;
}

#header-navigation .navigation-item a:hover {
    color: #8B0000;
}

#header-navigation .navigation-item:hover #title {
    color: #8B0000;
}

#header-navigation .current #title {
    color: #3588CC;
}

#header-navigation .current #title:hover {
    color: #3588CC;
}

#main-footer-container {
    background: linear-gradient(to right, #646464, #797979, #646464);
    height: fit-content;
    position: relative;
    width: 100%;
}

#social-sites {
    margin: 0 auto;
    padding: 10px;
    position: relative;
    width: fit-content;
}

#social-sites .icon {
    display: inline-block;
    margin: 10px;
}

#social-sites .icon img {
    height: 38px;
    object-fit: cover;
    width: 38px;
}

#footer-navigation {
    margin: 10px auto;
    position: relative;
    width: fit-content;
}

#footer-navigation .navigation-item {
    display: inline-block;
    margin: 0 20px;
    vertical-align: top;
}

#footer-navigation .navigation-item a {
    color: #ffffff;
    line-height: 2.1em;
}

#footer-navigation .navigation-item a:hover {
    text-decoration: underline;
}

#footer-navigation .navigation-item #title {
    font-size: 16px;
}

#footer-navigation .navigation-item #content a {
    display: block;
    font-size: 11px;
}

#main-footer-container #copyright {
    color: #D8E2B4;
    font-size: 10px;
    margin: 50px auto 20px auto;
    position: relative;
    width: fit-content;
}

/* #main-container {
    width: 100%;
}

#main-header-container {
    border: 1px solid #000000;
    position: relative;
}

#site-logo {
    border: 1px solid #000000;
    margin: auto;
    position: relative;
    width: min-content;
}

#site-logo #icon, #text {
    float: left;
}

#site-logo #icon {
    border: 1px solid #000000;
    height: 89px;
    width: 87px;
    object-fit: cover;
}

#site-logo #text {
    border: 1px solid #000000;
    margin-top: 10px;
    position: relative;
}

#site-logo #text #title {
    color: #045184;
    font-size: 22px;
    line-height: 1em;
}

#site-logo #text #subtitle {
    color: rgb(4, 81, 132);
    font-size: 11px;
    line-height: 1.4em;
}

#header-navigation {
    border: 1px solid #000000;
    position: relative;
}

#header-navigation #current {
    color: #3588CC;
}

#header-navigation #current:hover {
    color: #3588CC;
}

#header-navigation .navigation-item {
    color: #045184;
}

#header-navigation .navigation-item:hover {
    color: #8B0000;
}

#main-body-container {
    border: 1px solid #000000;
    position: relative;
}

#main-footer-container {
    border: 1px solid #000000;
    position: relative;
} */