#services-container-level-1 {
    position: relative;
    width: 100%;
}

#services-container-level-2 {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 5vh auto;
    max-width: fit-content;
    position: relative;
}

#services-container-level-3 {
    max-width: 965px;
    min-width: 440px;
    text-align: center;
}

#services-container-level-3 #title {
    color: #535252;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.4em;
    margin: 20px;
    text-align: left;
}

#services-container-level-3 #text {
    margin: 0 20px;
    text-align: left;
}

#services-container-level-3 #text p {
    color: #535252;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.4em;
    margin: 20px 0;
}

#services-container-level-3 #content {
    position: relative;
}

#services-container-level-3 #content .service-item {
    display: inline-block;
    height: 143px;
    margin: 20px;
    position: relative;
    text-align: left;
    width: 440px;
}

#services-container-level-3 #content .service-item #short-description .translucent-filter {
    background: #000000;
    opacity: 0.07;
}

#services-container-level-3 #content .service-item #short-description img, #title-and-time {
    display: inline-block;
    vertical-align: middle;
}

#services-container-level-3 #content .service-item #short-description img {
    background-color: rgba(255, 255, 255, 1);
    border: 2px solid rgba(255, 255, 255, 1);
    border-radius: 3px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
    height: 137px;
    object-fit: cover;
    position: relative;
    width: 136px;
}

#services-container-level-3 #content .service-item #short-description #title-and-time {
    margin: 20px;
}

#services-container-level-3 #content .service-item #short-description #title-and-time h2, h3 {
    color: #535252;
    font-size: 25px;
    font-weight: normal;
    line-height: 1.4em;
    position: relative;
}

#services-container-level-3 #content .service-item #long-description p {
    color: #535252;
    font-size: 13px;
    font-weight: normal;
    margin: 20px 0;
}