{% extends "layout.html" %}
{% block title %}Home{% endblock title %}
{% block style %}
    <link rel="stylesheet" type="text/css" media="screen" href="{{ url_for('static', filename='css/home.css') }}" />
{% endblock style %}
{% block body %}
    <section id="main-invitation-container">
        <div id="invitation-container">
            <h1 id="invitation">Your second home...</h1>
            <button id="visit-us">VISIT US | HEAR INSPIRING MESSAGE</button>
            <button id="contact-us">Contact Us</button>
        </div>
    </section>
    <section id="main-upcoming-events-container">
        <div id="upcoming-events-container"></div>
    </section>
{% endblock body %}