<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}{% endblock title %} | La Loma Baptist Church</title>
        <link rel="icon" href="{{ url_for('static', filename='img/lbc_icon.png') }}">
        <link rel="stylesheet" type="text/css" media="screen" href="{{ url_for('static', filename='css/default.css') }}" />
        <link rel="stylesheet" type="text/css" media="screen" href="{{ url_for('static', filename='css/layout.css') }}" />
        
        {% block style %}{% endblock style %}
    </head>
    <body>
        <div id='main-container'>
            <header id="main-header-container">
                <div class="translucent-filter"></div>
                <header id="header-container">
                    <a id='site-logo' href="{{ url_for('home.read') }}">
                        <img id="icon" src="{{ url_for('static', filename='img/lbc_icon.png') }}" />
                        <div id="text">
                            <h1 id="title">La Loma Baptist Church</h1>
                            <h6 id="subtitle">The Church that Preaches what the Bible Teaches</h6>
                        </div>
                        <div class="clear-float"></div>
                    </a>
                    <nav id="header-navigation">
                        <div class="navigation-item {% block home_navigation %}{% endblock home_navigation %}">
                            <a id="title" href="{{ url_for('home.read') }}">HOME</a>
                        </div>
                        <div class="dropdown navigation-item {% block about_us_navigation %}{% endblock about_us_navigation %}">
                            <a id="title" href="{{ url_for('about_us.read', page='about_us') }}">ABOUT US</a>
                            <div id="content">
                                <a href="{{ url_for('about_us.read', page='pastors_corner') }}">Pastor's Corner</a>
                                <a href="{{ url_for('about_us.read', page='our_history') }}">Our History</a>
                                <a href="{{ url_for('about_us.read', page='faith_promise_mission') }}">Faith Promise Mission</a>
                                <a href="{{ url_for('about_us.read', page='world_missions') }}">World Missions</a>
                                <a href="{{ url_for('about_us.read', page='building_project') }}">Building Project</a>
                                <a href="{{ url_for('about_us.read', page='services') }}">Services</a>
                                <a href="{{ url_for('about_us.read', page='contact_us') }}">Contact Us</a>
                            </div>
                        </div>
                        <div class="dropdown navigation-item {% block ministries_navigation %}{% endblock ministries_navigation %}">
                            <a id="title" href="#">MINISTRIES</a>
                            <div id="content">
                                <a href="#">Soul Winning</a>
                                <a href="#">Bible Studies</a>
                                <a href="#">Singles' Fellowship</a>
                                <a href="#">Children's Church</a>
                                <a href="#">Youth Fellowship</a>
                                <a href="#">AWANA Club</a>
                                <a href="#">Sacred Music</a>
                                <a href="#">U-Light Student Hub</a>
                                <a href="#">Outreach Ministry</a>
                                <a href="#">Prison Ministry</a>
                                <a href="#">Outside School Ministry</a>
                                <a href="#">Medical Missions</a>
                                <a href="#">PIWD (Deaf & Blind)</a>
                                <a href="#">DUNAMIS</a>
                                <a href="#">Ushers & Greeters</a>
                            </div>
                        </div>
                        <div class="dropdown navigation-item {% block education_navigation %}{% endblock education_navigation %}">
                            <a id="title" href="#">EDUCATION</a>
                            <div id="content">
                                <a href="#">La Loma Bible College & Institute</a>
                                <a href="#">La Loma Baptist Christian Academy</a>
                            </div>
                        </div>
                    </nav>
                    <div class="clear-float"></div>
                </header>
            </header>
            <div id="main-body-container">
                {% block body %}{% endblock body %}
            </div>
            <footer id="main-footer-container">
                <div id="social-sites">
                    <a id="facebook" class="icon" href="#"><img src="{{ url_for('static', filename='img/facebook_icon.png') }}" /></a>
                    <a id="twitter" class="icon" href="#"><img src="{{ url_for('static', filename='img/twitter_icon.png') }}" /></a>
                    <a id="youtube" class="icon" href="#"><img src="{{ url_for('static', filename='img/youtube_icon.png') }}" /></a>
                    <a id="instagram" class="icon" href="#"><img src="{{ url_for('static', filename='img/instagram_icon.png') }}" /></a>
                </div>
                <div id="footer-navigation">
                    <div class="navigation-item">
                        <a id="title" href="#">ABOUT US</a>
                        <div id="content">
                            <a href="{{ url_for('about_us.read', page='pastors_corner') }}">PASTOR'S CORNER</a>
                            <a href="{{ url_for('about_us.read', page='our_history') }}">OUR HISTORY</a>
                            <a href="{{ url_for('about_us.read', page='faith_promise_mission') }}">FAITH PROMISE MISSIONS</a>
                            <a href="{{ url_for('about_us.read', page='world_missions') }}">WORLD MISSIONS</a>
                            <a href="{{ url_for('about_us.read', page='building_project') }}">BUILDING PROJECT</a>
                            <a href="{{ url_for('about_us.read', page='our_services') }}">OUR SERVICES</a>
                            <a href="{{ url_for('about_us.read', page='contact_us') }}">CONTACT US</a>
                        </div>
                    </div>
                    <div class="navigation-item">
                        <a id="title" href="#">MINISTRIES</a>
                        <div id="content">
                            <a href="#">CHILDREN</a>
                            <a href="#">TEENS</a>
                            <a href="#">COLLEGE</a>
                            <a href="#">ADULTS</a>
                            <a href="#">MARRIED</a>
                            <a href="#">COLLEGE</a>
                            <a href="#">YOUNG ONES</a>
                            <a href="#">HOPE</a>
                            <a href="#">PIWD (DEAF & BLIND)</a>
                        </div>
                    </div>
                    <div class="navigation-item">
                        <a id="title" href="#">EDUCATION</a>
                        <div id="content">
                            <a href="#">LA LOMA BIBLE COLLEGE & INSTITUTE</a>
                            <a href="#">LA LOMA BAPTIST CHRISTIAN ACADEMY</a>
                        </div>
                    </div>
                </div>
                <div id="copyright">&copy 2018 by LBC Creative Team</div>
            </footer>
        </div>
        <!-- <script src="main.js"></script> -->
        {% block script %}{% endblock script %}
    </body>
</html>